/*Clean up references, the base.html file uses this styling for every template. Reference navbar objects*/
::-webkit-scrollbar {
    background: #000;
}
::-webkit-scrollbar-track {
    background-color: rgb(24, 26, 27) !important;
}

::-webkit-scrollbar-thumb {
    background-color:rgb(44, 47, 49) !important;
}

.navbar{
    background-color: rgb(44, 47, 49) !important;
    display: flex;
    justify-items: left;
    justify-content: flex-start;
    flex-direction: row;
    margin-bottom: 0;
    overflow: hidden;
    z-index: 2;
}
.navbar-brand {
    color:white;
    font-size: 27px;
}
.nav-link{
    color: white;
    list-style-type: none;
    font-size: 30px;
    display: flex;
    padding-left:5px;
}

a:hover, a:visited, a:link{
    color: white;
}

.nav-item{
    padding-top: 5px;
    padding-left: 25px;
}

.carousel {
    height: 60vh;
    width: 60vw;
    overflow: hidden;
}
  
.carousel-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
  
.carousel-image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Adjust this to fit your design */
}
  
#myCarousel {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

#project-about{
    background-color: rgba(128, 128, 128, 0.25);
    padding: 1vw;
    margin-left: 10vw;
    margin-top: 20vh;
    font-style: oblique;
    font-variant: small-caps;
}
.carousel-caption{
    font-style: oblique;
    font-variant: small-caps;
}

#project-description{
    font-size: larger;
}

#footer, #about-block{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    margin-left: 2vw;
    margin-right: 2vw;
    color: white;
    background-color: rgb(24, 26, 27);
    height: 150px;
    z-index: 3;
}

#footer {
    display: flex;
    position: relative;
    bottom: 0;
    left: 0;
    width: 95vw;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

h3{
    margin-left: 2vw;
    font-size: large;
}
#toe {
    height: auto;
    width: 5vw;
    margin-left: 3vw;
}

#about-block {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: auto;
    margin-bottom: 7vh;
}

#link, #link:hover, #link:visited{
    color: white;
}

h2, h1{
    padding-top: 1vh;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-bottom: 1vh;
    font-style: oblique;
    font-variant: small-caps;
}

#education, #skills, #header, #jobs{
    color: white;
    background-color: rgba(128, 128, 128, 0.25);
    margin-bottom: 2vh;
    width: auto;
}
#header {
    background-color: rgba(128, 128, 128, 0.75);
    width: 100%;
}
#education-wrapper, #skills-wrapper, #work-wrapper{
    margin-top: 5vh;
    margin-right: 3vw;
}
#project-wrapper{
    margin-left: 2vw;
    margin-right: 2vw;
}
#projectCarousel{
    width: 200vw;
    height: 100%;
}
#name, #location, #status, #date{
    margin-right:2vw;
    margin-bottom: 0px;
    padding-top: 0px;
}
#status{
    font-size: 2rem;
    font-style: italic;
}
#title, #level{
    font-family:   Arial, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans' ;
    font-style: normal;
    max-width: 66vw;
}
#level{
    font-size:2.3rem;
    font-style: italic;
}
#title{
    font-size: 3rem;
}
#description{
    font-family:  Arial, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans'  ;
    font-style: normal;
    font-variant: normal;

}
#date{
    font-size: large;
}
#level, #start-date{
    margin-right: 2vw;
}
#start-date{
    font-family:   Arial, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans' ;
    font-style: italic;
    font-size: larger;
    padding: 2vw;
}
.row, .col {
    margin-right: 0;
    margin-left: 0;
    flex-direction: row;
    align-items: baseline;
    padding-left: 0;
    padding-right: 0;
}
.col{
    max-width: 55%;
}

.card{
    color: whitesmoke;
    background-color: rgb(24, 26, 27);
    width: 20rem !important;
    margin-top: 3vh;
    margin-left: 3vw;
    margin-right: 3vw;
    margin-bottom: 3vh;
}

#card-img-top{
    height: 10vh;
    width: 10vw;
}

#project-about{
    font-size: x-large;
    font-family:   Arial, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans' ;
    font-variant: normal;
    color: whitesmoke;
    margin-top: 2vh;
    margin-left: 4vw;
}
#project-single-wrapper{
    margin-bottom: 20vh;
}


body{
    background-size: 100% 100%;
    background-position: 0px 0px,0px 0px;
    background-image: radial-gradient(75% 75% at 50% 50%, rgba(30, 83, 160, 0.55) 2%, rgba(0, 41, 200, 0) 100%), radial-gradient(75% 75% at 50% 50%, rgb(46, 125, 0) 0%, rgb(0, 0, 0) 98%, rgba(0, 0, 0, 0) 100%);
    position: relative;
    width: 100vw;
    max-width: fit-content;
    height: 100%;
    background-size: contain;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
