{% extends 'base.html'%}

{% block content %}
{% load static%}
<style>
  @media (max-width: 1024px) {
    #project-single-wrapper{
      flex-direction:column !important;
    }
    #projectCarousel{
        width:auto;
        max-width:100%;
        margin: auto;
        height:100%;
        width:800px;
        margin-top: 10vh;
        margin-bottom: 10vh;
    }
      
  }
</style>
<!-- Project Carousel -->
<article id="project-single-wrapper" style="display: flex; flex-direction: row; align-items: flex-start; justify-content:space-between; margin-bottom:10vh; margin-top:10vh;">
<div id="projectCarousel" class="carousel slide rounded-bottom border-bottom" data-bs-ride="carousel">
    <div id="project-carousel" class="carousel-inner">
      <div class="carousel-item active">
        <img id="project-image" class="carousel-image" src="{{ project.gallery_top.url }}" alt="">
      </div>
      <div class="carousel-item">
        <img id="project-image" class="carousel-image" src="{{ project.gallery_2.url }}" alt="">
      </div>
      <div class="carousel-item">
        <img id="project-image" class="carousel-image" src="{{ project.gallery_3.url }}" alt="">
      </div>
    </div>
    <div class="carousel-caption">
        <h3 id="project-description" style="font-size: larger; margin-right: 5vw;">{{project.title_description|linebreaks}}</h3>
    </div>
    <a class="carousel-control-prev" href="#projectCarousel" role="button" data-bs-slide="prev" id="prevButton">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden"></span>
    </a>
    <a class="carousel-control-next" href="#projectCarousel" role="button" data-bs-slide="next" id="nextButton">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden"></span>
    </a>
</div>
    <div id="project-about" style="display: flex; flex-direction: column; align-items: flex-start; white-space: pre-wrap; "> 
        {{project.long_description|linebreaks}}
    </div>
</article>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script>
    $(document).ready(function () {
      var carouselInterval = 10000; // 10 seconds
  
      function scrollCarousel() {
        $('#projectCarousel').carousel('next');
      }
  
      // Start scrolling the carousel automatically
      var intervalId = setInterval(scrollCarousel, carouselInterval);
  
      // Function to handle previous button click
      $('#prevButton').on('click', function (event) {
        event.preventDefault(); // Prevent the default anchor behavior
        $('#projectCarousel').carousel('prev');
      });
  
      // Function to handle next button click
      $('#nextButton').on('click', function (event) {
        event.preventDefault(); // Prevent the default anchor behavior
        $('#projectCarousel').carousel('next');
      });
    });
  </script>
  
{% endblock %}
  